footer {
  margin-left: 1.5%;
  margin-right: 1.5%;
  background-color: #fff;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  bottom: 0;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.13);
  color: #fff;
  left: 0;
  padding: 1.7rem 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer .navfooter button {
  background-color: initial;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 0 2rem;
  transition: color 0.3s;
}

.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -27px;
  width: 100%;
  height: 4px;
  background-color: #DBDBDB;
  transition: background-color 0.3s ease;
}

.special-link::before {
  background-color: #DBDBDB;
  transition: background-color 0.4s ease;
}

.special-link.clicked::before {
  background: var(--gradient-color); /* Use a CSS variable for dynamic gradient */
  transition: background 0.6s ease;
}

