.values{
    // width: 100%;
    margin-top: 10%;
}


.rightValue1,.rightValue2, .leftValue1,.leftValue2{
    width: 680px;
    height: 680px;
}



@media screen and (max-width: 1230px) {
    .rightValue1,.rightValue2, .leftValue1,.leftValue2 {
        width: 550px; 
        height: 550px; 
    }
}
@media screen and (max-width: 900px) {
    .rightValue1,.rightValue2, .leftValue1,.leftValue2 {
        width: 510px; 
        height: 510px; 
    }
}


@media screen and (max-width: 1150px) {
    .values {
        display: flex;
        flex-direction: column; 
        margin-top: 10%;
    }

    .values .firstcontent,
    .values .thirdcontent {
        display: flex;
        flex-direction: column-reverse; 
        margin-bottom: 5%;
        padding: 0;
    }

    .values .secondcontent,
    .values .fourthcontent {
        display: block;
        margin-bottom: 5%;
        padding: 0;
    }

    .values .leftText, 
    .values .rightText {
        margin: 0;
    }

    .rightValue1,.rightValue2, .leftValue1,.leftValue2 {
        width: 700px;
        height: 700px; 
        padding: 50px;
        width: 100%;
        height: auto  ;
    }

    .firstcontent h1,
    .thirdcontent h1,
    .secondcontent h1,
    .fourthcontent h1{
        padding-left: 50px;
    }
    
    .firstcontent p,
    .thirdcontent p,
    .secondcontent p,
    .fourthcontent p{
        padding-left: 50px;
    }
}



@media screen and (max-width: 939px) {
    .values {
        width: 80%;
        margin: 2% auto; 
    }
    
}
@media screen and (max-width: 980px) {
    .leftText h1,
    .rightText h1 {
        font-size: 40px !important;
        letter-spacing: -2px;
    }

    .leftText p,
    .rightText p {
        font-size: 13px !important;
        letter-spacing: -2px;
        font-weight: 500;
    }
    .firstcontent h1,
    .thirdcontent h1,
    .secondcontent h1,
    .fourthcontent h1{
        padding-left: 10px;
    }
    
    .firstcontent p,
    .thirdcontent p,
    .secondcontent p,
    .fourthcontent p{
        padding-left: 10px;
    }
    .rightValue1,.rightValue2, .leftValue1,.leftValue2 {
        padding: 5px;
        width: 100%;
        height: auto  ;
    }
}






.firstcontent,.thirdcontent{
    display: flex;
    margin-bottom: 5%;
    padding-right: 5%;
    
    .leftText{
        padding: 25px;
        margin: 15% 8% 0 8%;
    
        >#first_h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #FFB90B 0%, #FF8444 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >#third_h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #7020DF 0%, #C257C3 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >p{
            font-family: "Work Sans";
            font-size: 18px;
            margin-top: 10%;
            letter-spacing: 1px;

        }
    }
    
    
}




.secondcontent,.fourthcontent{
    display: flex;
    margin-bottom: 5%;
    padding-left: 5%;

    
    .rightText{
        padding: 25px;
        margin: 15% 8% 0 8%;


        >#second_h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #A776FF 0%, #49B7FF 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }
        >#fourth_h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #09C7F7 0%, #39E5BD 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >p{
            font-family: "Work Sans";
            font-size: 18px;
            margin-top: 10%;
            letter-spacing: 1px;

        }
    }


}

