

.values{
    margin:2%;
    
}


.firstcontent{
    display: flex;

    
    .first{
        padding-top: 18%;
        padding-left: 8%;
        padding-right: 8%;
    
        >h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #FFB90B 0%, #FF8444 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >p{
            font-family: "Work Sans";
            font-size: 18px;
            margin-top: 10%;
            letter-spacing: 1px;

        }
    }
    .rightimg{
        width: 650px;
        height: 650px;
        padding-top: 20%;
        
    }

}

.secondcontent{
    display: flex;
    
    .rightText{
        padding-top: 25%;
        padding-left: 8%;
        padding-right: 8%;

        >h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #A776FF 0%, #49B7FF 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >p{
            font-family: "Work Sans";
            font-size: 18px;
            margin-top: 10%;
            letter-spacing: 1px;

        }
    }
    .leftimg{
        width: 650px;
        height: 650px;
        padding-top: 20%;
    }
    
  


}

.thirdcontent{
    display: flex;
    
    
    .third{
        padding-top: 15%;
        padding-left: 7%;
        padding-right: 7%;

        >h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #7020DF 0%, #C257C3 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >p{
            font-family: "Work Sans";
            font-size: 18px;
            margin-top: 10%;
            letter-spacing: 1px;

        }
    }
    .rightimg{
        width: 650px;
        height: 650px;
        padding-top: 20%;
    }
    
}

.fourthcontent{
    display: flex;
    
    
    .rightText{
        padding-top: 15%;
        padding-left: 8%;
        padding-right: 8%;

        >h1{
            font-family: 'Work sans';
            font-size: 58px;
            line-height: 1;
            background: linear-gradient(to right, #09C7F7 0%, #39E5BD 100%) ;
            background-clip: text ;
            -webkit-text-fill-color: transparent !important;
        }

        >p{
            font-family: "Work Sans";
            font-size: 18px;
            margin-top: 10%;
            letter-spacing: 1px;

        }
    }
    .leftimg{
        width: 650px;
        height: 650px;
        padding-top: 20%;
    }

}