*{
    margin: 0%;
    padding: 0%;
}
nav {
    box-sizing: border-box;
    // width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px; 
       
            
    >img {
        width: 127px;
        height: 26px;
        
    }

    > main {
        padding: 7px 18px;  
        gap: 1rem;
        display: flex;
        justify-content: flex-end;
        font:500 17px "Work Sans";
        color: black;
    
        
        > ul {
            list-style: none;
            text-decoration: none;
            display:  flex ;
            gap: 2.5rem;
            margin: 2rem;
            color: black;

            >li{
                color: black; 
            }
            
            >.navitem{
                justify-content: space-between;
                align-items: center;
                >.link{
                    color: black;
                }

                &:hover{
                    scale: 1.02;
                    transition: .1s ease-in;
                }
            
                 
                #gradient {
                    background: linear-gradient(to right, #FF3891 0%, #FFBF04 100%);
                    background-clip: text;
                    -webkit-background-clip: text; 
                    color: transparent; 
                    display: inline; 
                }
                 
               
            }           
        }

    }
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}




.headroom--pinned {
    margin-left: 1.5%;
    margin-right: 1.5%;     
    background-color: #fff;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    box-shadow: 0 20px 18px rgba(0,0,0,.1);
  }
  
 
  
.menu{
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 1.3rem;

}
nav .menu span{
    height: 0.2rem;
    width: 80%;
    background-color: #000 ;
    border-radius: 0.1rem;
}

@media (max-width:970px){
    .menu {
        display: flex;
    }

    nav {
        // flex-direction: column;
        align-items: start;
        padding: 25px 40px;
    }

    nav ul {
        display: none !important;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;

    }
    nav ul.open{
        display: flex !important ;
    }
}



.menu {
    
    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }
      span:nth-child(2) {
        display: none;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
  




  @media (max-width:880px){
    .menu{
        
        position: absolute;
        top: 1.5rem;
        right: 1rem;
       
        flex-direction: column;
        justify-content: space-between;
        width: 2rem;
        height: 1rem;
    
    }
    nav .menu span{
        height: 0.2rem;
        width: 75%;
        background-color: #000 ;
        border-radius: 0.1rem;
    }
      
    nav img {
        width: 100px;
        height: 19px;
        
    }
}
