@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Work+Sans:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
  margin: 0%;
  padding: 0%;
  font-family: "Work Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}


.container {
  width: 100%; 
  overflow-x: hidden;
}

body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.home1 {
  padding: 0 40px;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  box-sizing: border-box;
  max-height: 900px;
  height: 560px; 
  position: relative; 

  video {
    object-fit: cover; 
    width: 100%;
    height: 100%; 
    border-radius: 30px;
  }

  .vtext {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    span {
      font-size: 60px;
      font-family: "Work Sans", Arial, sans-serif;
      font-weight: 900;
      letter-spacing: -.02em;
    }
  }
}


.career{
    padding-top:10%;
    margin-left: 10% ;
    .bigtext{
    font-size: 90px;
    font-weight: bolder;
    line-height: 1;
    font-family: 'Work Sans';
    letter-spacing: -3px;
    }
    .smalltext{
        margin-top: 1.5%;
        font-size: 19px;
        font-family: 'Poppins';
        font-weight: lighter;   
        word-spacing: 1px;

    }
    
    
}


.insideMadBox{
  margin-left: 10%;
  padding-top: 10%;

  .bigtext{
  text-align: left;
  font-size: 92px;
  font-weight: bolder;
  line-height: 1;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -4px;
  }
  .smalltext{
      text-align: left;
      margin-top: 1.5%;
      font-size: 19px;
      font-family: 'Poppins', sans-serif;
      font-weight: lighter;   
      word-spacing: 1px;

  }
  
  
}


.ourvalues{
    padding-top:10%;

    .bigtext{
    text-align: center;
    font-size: 90px;
    font-weight: bolder;
    line-height: 1;
    font-family: 'Work Sans';
    letter-spacing: -3px;
    }
    .smalltext{
        text-align: center;
        margin-top: 1.5%;
        font-size: 19px;
        font-family: 'Poppins';
        font-weight: lighter;   
        word-spacing: 1px;

    }
    
    
}

.powerup{
    padding-top:10%;

    .bigtext{
    text-align: center;
    font-size: 90px;
    font-weight: bolder;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -3px;
    }
    .smalltext{
        text-align: center;
        margin-top: 1.5%;
        font-size: 19px;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;   
        word-spacing: 1px;

    }
    
    
}


.discover{
    padding-top: 25%;
}
.ourStoryContent{
  text-align: center;
  padding-top: 80px;
  margin-left: 20%;
  margin-right: 20%;

  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -.04em;

  
  font-weight: 400;

  #osContent{
    font-family: "Work Sans";
  }
}
.discoverBtn{
  border-radius: 10rem;
  margin-top: 15%;
  margin-bottom: 15%;
  position: relative;
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%);
  
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  color: #FFF;
  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  border-radius: 20rem;
  color: linear-gradient(#FF3F89, #FFB60D);
  font-weight: bolder;
 
  font-size: 1rem;

  transition: all .4s;
  // position: relative;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    
    background: -webkit-linear-gradient(#FF3F89, #FFB60D);

    transition: all .4s;
    border-radius: 2rem;
    z-index: -1;
  }

  &:hover  {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}


.enterMadLife{
    margin-left: 10%;


    .bigtext{
    text-align: left;
    font-size: 100px;
    font-weight: bolder;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -4px;
    }
    .smalltext{
        text-align: left;
        margin-top: 1.5%;
        font-size: 19px;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;   
        word-spacing: 1px;

    }
    
    
}


.seeMoreBtn{
  border-radius: 10rem;
  // padding: 6rem 2rem;  
  margin-top: 15%;
  margin-bottom: 15%;
  position: relative;
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%);
  
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  
  // color: #FFB60D;
  
  color: -webkit-linear-gradient(#FF3F89, #FFB60D);
  

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  border-radius: 20rem;
  font-weight: bolder;
  
  font-size: 1rem;
  
  transition: all .3s;
  
  p{
    color: linear-gradient(#FF3F89, #FFB60D);

  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    
    background: -webkit-linear-gradient(#FF3F89, #FFB60D);

    transition: all .3s;
    border-radius: 2rem;
    z-index: -1;
  }

  &:hover  {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
 





@media screen and (max-width: 960px) {
  .bigtext p{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Work sans';
    letter-spacing: -2px;
  }

  .smalltext p {
    font-size: 15px;
    
    letter-spacing: -0.5px; /* Adjust the font size as per your design */
  }
}