.gallery{
    padding:0 10%;
    // width: 100%;
}

.firstrow{
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}

#pic1{
    width: 306px;
    height: auto; 
    border-radius: 25px;
}

.video-container {
    max-width: 650px; 
  }

#galleryvideo{
  
    width: 650px;
    max-width: 580px;
    max-height: 430px;
    border-radius: 25px;
}

.secondrow{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1.5rem;
    // margin-left:8%;
    margin-bottom: 6%;
}

.secondRowPics{
    width: 310px;
    height: 310px;
    border-radius: 20px;
}